// globel
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.dis-row {
  display: flex;
  flex-direction: row;
}
body{
  background-image:url('/assets/images/background.png');
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
  background-image:  url('/assets/images/background.png');
  background-position:0 -180px;
  background-size:cover;
  font-family: "Roboto";
}
